<ion-view view-title="账号">
  <ion-content class='padding'>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">电子邮箱</span>
        <input type="email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" ng-model="user.password">
      </label>
      <button class="button button-block button-positive" ng-click="sign_in()">
        登陆
      </button>
    </div>
  </ion-content>
</ion-view>
