<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="记支出" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/expenses">
    <ion-nav-view name="tab-expenses"></ion-nav-view>
  </ion-tab>

  <ion-tab title="记收入" icon-off="ion-funnel" icon-on="ion-funnel" href="#/tab/incomes">
    <ion-nav-view name="tab-incomes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
